<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>207483219929-hgnbeamhc11k5g9klimn2a550jq5ie41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207483219929-hgnbeamhc11k5g9klimn2a550jq5ie41</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>207483219929-c4t8pr7c686h2h0g8d6g2bjp1t2ps2ti.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhdA78tKwuSYmGcPCtwTHhlzcQhrPn9sQ</string>
	<key>GCM_SENDER_ID</key>
	<string>207483219929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bloomerapp.bloomer</string>
	<key>PROJECT_ID</key>
	<string>bloomer-c0da7</string>
	<key>STORAGE_BUCKET</key>
	<string>bloomer-c0da7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:207483219929:ios:a8de4b88a3b1ea1d</string>
	<key>DATABASE_URL</key>
	<string>https://bloomer-c0da7.firebaseio.com</string>
</dict>
</plist>
