<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Stickers_1</key>
	<array>
		<string>sticker_78</string>
		<string>sticker_79</string>
		<string>sticker_80</string>
		<string>sticker_81</string>
		<string>sticker_82</string>
		<string>sticker_83</string>
		<string>sticker_84</string>
		<string>sticker_85</string>
		<string>sticker_86</string>
		<string>sticker_87</string>
		<string>sticker_88</string>
		<string>sticker_89</string>
		<string>sticker_90</string>
		<string>sticker_91</string>
		<string>sticker_92</string>
		<string>sticker_93</string>
		<string>sticker_94</string>
		<string>sticker_95</string>
		<string>sticker_96</string>
		<string>sticker_97</string>
		<string>sticker_98</string>
		<string>sticker_99</string>
		<string>sticker_100</string>
		<string>sticker_101</string>
		<string>sticker_102</string>
		<string>sticker_103</string>
		<string>sticker_104</string>
		<string>sticker_105</string>
		<string>sticker_106</string>
		<string>sticker_107</string>
		<string>sticker_108</string>
		<string>sticker_109</string>
		<string>sticker_110</string>
		<string>sticker_111</string>
		<string>sticker_112</string>
		<string>sticker_113</string>
		<string>sticker_114</string>
		<string>sticker_115</string>
		<string>sticker_116</string>
		<string>sticker_117</string>
		<string>sticker_118</string>
		<string>sticker_119</string>
		<string>sticker_120</string>
		<string>sticker_121</string>
		<string>sticker_122</string>
		<string>sticker_123</string>
		<string>sticker_124</string>
		<string>sticker_125</string>
		<string>sticker_126</string>
		<string>sticker_127</string>
		<string>sticker_128</string>
		<string>sticker_129</string>
		<string>sticker_130</string>
		<string>sticker_131</string>
		<string>sticker_132</string>
		<string>sticker_133</string>
	</array>
	<key>Stickers_2</key>
	<array>
		<string>sticker_1</string>
		<string>sticker_2</string>
		<string>sticker_3</string>
		<string>sticker_4</string>
		<string>sticker_5</string>
		<string>sticker_6</string>
		<string>sticker_7</string>
		<string>sticker_8</string>
		<string>sticker_9</string>
		<string>sticker_10</string>
		<string>sticker_11</string>
		<string>sticker_12</string>
		<string>sticker_13</string>
		<string>sticker_14</string>
		<string>sticker_15</string>
		<string>sticker_16</string>
		<string>sticker_17</string>
		<string>sticker_18</string>
		<string>sticker_19</string>
		<string>sticker_20</string>
		<string>sticker_21</string>
		<string>sticker_22</string>
		<string>sticker_23</string>
		<string>sticker_24</string>
		<string>sticker_25</string>
		<string>sticker_26</string>
		<string>sticker_27</string>
		<string>sticker_28</string>
		<string>sticker_29</string>
		<string>sticker_30</string>
		<string>sticker_31</string>
		<string>sticker_32</string>
		<string>sticker_33</string>
		<string>sticker_34</string>
		<string>sticker_35</string>
		<string>sticker_36</string>
		<string>sticker_37</string>
		<string>sticker_38</string>
		<string>sticker_39</string>
		<string>sticker_40</string>
		<string>sticker_41</string>
		<string>sticker_42</string>
		<string>sticker_43</string>
		<string>sticker_44</string>
		<string>sticker_45</string>
	</array>
	<key>Stickers_3</key>
	<array>
		<string>sticker_46</string>
		<string>sticker_47</string>
		<string>sticker_48</string>
		<string>sticker_49</string>
		<string>sticker_50</string>
		<string>sticker_51</string>
		<string>sticker_52</string>
		<string>sticker_53</string>
		<string>sticker_54</string>
		<string>sticker_55</string>
		<string>sticker_56</string>
		<string>sticker_57</string>
		<string>sticker_58</string>
		<string>sticker_59</string>
		<string>sticker_60</string>
		<string>sticker_61</string>
		<string>sticker_62</string>
		<string>sticker_63</string>
		<string>sticker_64</string>
		<string>sticker_65</string>
	</array>
	<key>Stickers_4</key>
	<array>
		<string>sticker_66</string>
		<string>sticker_67</string>
		<string>sticker_68</string>
		<string>sticker_69</string>
		<string>sticker_70</string>
		<string>sticker_71</string>
		<string>sticker_72</string>
		<string>sticker_73</string>
		<string>sticker_74</string>
		<string>sticker_75</string>
		<string>sticker_76</string>
		<string>sticker_77</string>
	</array>
	<key>Sticker_Icons</key>
	<array>
		<string>Icon_Sticker_Face</string>
		<string>Icon_Sticker_Cat</string>
		<string>Icon_Sticker_Pig</string>
		<string>Icon_Sticker_Dog</string>
	</array>
</dict>
</plist>
